<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.MJ.Hack.Sehat">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.flash" />
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/sehaticon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/sehaticon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity android:name="com.MJ.Hack.Sehat.ContainerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.MJ.Hack.Sehat.First"
            android:configChanges="orientation"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="com.MJ.Hack.Sehat.Primary"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.MJ.Hack.Sehat.AboutApp"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.MJ.Hack.Sehat.O2Result"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.MJ.Hack.Sehat.BloodPressureResult"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.MJ.Hack.Sehat.HeartRateResult"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.MJ.Hack.Sehat.RespirationResult"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.MJ.Hack.Sehat.HeartRateProcess"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.MJ.Hack.Sehat.BloodPressureProcess"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.MJ.Hack.Sehat.O2Process"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.MJ.Hack.Sehat.Login"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.MJ.Hack.Sehat.RespirationProcess"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.MJ.Hack.Sehat.StartVitalSigns"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.MJ.Hack.Sehat.VitalSignsProcess"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.MJ.Hack.Sehat.VitalSignsResults"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
    </application>

</manifest>